.about{
    margin-top: 50px;
    & h1{
        color:$standout_color;
        font-size: 21px;
        margin-bottom: 10px;
    }
    & #about{
        & p{
            & span{
                color:$standout_color;
            }
        }
    }
}