
$background:#1d1f21;
$standout_color: #96ff81;
$light_white:#c9cacc;
$dimmed_white:#666666;

@font-face {
    font-family: Oxygen;
    src: url("../font/OxygenMono-Regular.55d89e42.woff2");
    
}
*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
    font-size: 14px;
    font-family: 400;
    background-color: $background;
    font-family: Oxygen;
    color:$light_white;
    line-height: 1.725;
    
}

body{
    margin:100px 200px;
}