$color_header:#c5c9d2;
$color_text:#8d93a0;
$dark_background1:#0a0c10;
$dark_background2:#12141a;
$dark_background3:#1a1c24;
$dark_background4:#212632;
$dark_background5:#505a73;
$black:#000000;
$white:#ffffff;

@font-face {
    font-family:SohneBold;
    src: url("../font/SohneBold.woff2");
}
@font-face {
    font-family:SohneMono;
    src: url("../font/SohneMono.woff2");
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: $color_text;
    font-family:SohneMono;
}
body{
    background-color: $dark_background1;
}