nav{
    background-color: $dark_background2;
    margin: 50px auto 0 auto;
    width: 50%;
    padding: 30px;
    border-radius: 15px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    & a{
        text-decoration: none;
    }
}