.projects{
    margin-top: 50px;
    & .projecthead{
        font-size: 21px;
        color: $standout_color;
        margin-bottom: 10px;
    }
    & .projecttitle{
        color:white;
        font-weight: 600;
    }
    & .project{
        display: flex;
        align-items: center;
        & img{
            width:50%;
        }
        & .projectwords{
            & .description{
                margin:15px auto;
                
            }
            & a{
                &:hover{
                    color:white;
                    text-decoration: none;
                }
            }
            & #website{
                margin-right: 20px;
            }
        }
    }
}