.projects {
  margin-top: 50px;
  & .projecthead {
    font-size: 21px;
    color: $standout_color;
  }
  & .projecttitle {
    color: white;
    font-weight: 600;
  }
  & .project {
    display: flex;
    align-items: center;
    & img {
      width: 50%;
    }
    & .projectwords {
      & .description {
        margin: 15px auto;
      }
      & #website {
        margin-right: 20px;
      }
    }
  }
}
