@media screen and (max-width: 1301px) {
  .hero {
    & .hero-inner {
        width: 90%;
    }
  }
  .projects{
    & #projects{
        width: 90%;
    }
  }
  .skills{
    width: 90%;
  }
  .contacts{
    width: 90%;
  }
}
@media screen and (max-width: 1301px) {
    nav{
        width: 50%;
    }
}
@media screen and (max-width: 1301px) {
    nav{
        width: 50%;
    }
}