//hero responsiveness
@media screen and (max-width:960px) {
    .hero{
        & img{
          width:25%;
        }
    }
    
}

@media screen and (max-width:900px) {
    .hero{
        & img{
          width:30%;
        }
    }
    
}
//body responsiveness

@media screen and (max-width:1300px) {
    body{
        margin: 100px 150px 100px 150px;
    }
}

@media screen and (max-width:1250px) {
    body{
        margin: 100px 100px 100px 100px;
    }
}

@media screen and (max-width:1100px) {
    body{
        margin: 100px 70px 100px 70px;
    }
}
//about responsiveness
//skills responsivness
@media screen and (max-width:1350px){
    .skills{
        & .categories{
            width: 80%;
        }
    }  
}

@media screen and (max-width:1230px){
    .skills{
        & .categories{
            width: 90%;
        }
    }  
}

@media screen and (max-width:1120px){
    .skills{
        & .categories{
            width: 100%;
        }
    }  
}

//projects responsiveness
@media screen and (max-width:960px) {
    .projects{
        & .project{
            & img{
                width:60%;
            }
        }
    }
}

@media screen and (max-width:900px) {
    .projects{
        & .project{
            flex-direction: column;
        }
    }
}
//Work experience responsiveness
//contacts responsiveness
//Thanks responsiveness