@media screen and (max-width: 1301px) {
  .hero {
    & .hero-inner {
      width: 90%;
    }
  }
  .projects {
    & #projects {
      width: 90%;
    }
  }
  .skills {
    width: 90%;
  }
  .contacts {
    width: 90%;
  }
}
@media screen and (max-width: 1251px) {
  nav {
    width: 50%;
  }
}
@media screen and (max-width: 1081px) {
  .projects {
    & #projects {
      display: flex;
      flex-direction: column;
      padding: 40px;
      margin: 0;
      width: 100%;
      height: 100%;
    }
    & .project1,
    .project3,
    .project5,
    .project7 {
      flex-direction: column-reverse !important;
      justify-content: start;
    }
    & .project-inner {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      grid-gap: 1rem;
      margin: 70px auto;
      align-items: center;
      justify-content: center;
      width: 90%;
    }
  }
}
@media screen and (max-width: 1071px) {
  .hero {
    text-align: center;
    & .hero-inner {
      grid-template-columns: 1fr;
    }
  }
  .projects {
    text-align: center;
    & .project-inner {
      & #projects {
        & .project-about {
          & .project-links {
            display: inline-grid;
            grid-template-columns: 1fr;
            & a {
              margin: 20px 0;
            }
          }
        }
      }
    }
  }
}
@media screen and (max-width: 1001px) {
  nav {
    width: 70%;
  }
}
@media screen and (max-width: 901px) {
  .projects {
    text-align: center;
    & .project-inner {
      grid-template-columns: 1fr;
      & #projects {
        & img {
          width: 70%;
        }
      }
    }
  }
  .skills {
    & .skills-innner {
      grid-gap: 1rem;
    }
  }
}
@media screen and (max-width: 801px) {
  .skills {
    & .skills-innner {
      grid-template-columns: 1fr;
    }
  }
}
@media screen and (max-width: 716px) {
  nav {
    width: 80%;
  }
}
@media screen and (max-width: 651px) {
  .contacts {
    & .socials {
      & img {
        width: 10%;
        margin-right: 70px;
      }
    }
  }
  .hero {
    & .hero-inner {
      & .about {
        & .socials {
          & img {
            width: 10%;
          }
        }
      }
    }
  }
  .projects {
    & .project-inner {
      & #projects {
        & img {
          width: 90%;
        }
      }
    }
  }
}
@media screen and (max-width: 626px) {
  nav {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 2rem;
    text-align: center;
  }
}
@media screen and (max-width: 551px) {
  .skills {
    padding: 70px 30px;
  }
}
