.skills{
    margin: 100px auto 200px auto;
    width: 80%;
    padding: 70px;
    border-radius: 20px;
    background-color: $dark_background2;
    & .skills-header{
        font-family:SohneBold;
        color: $color_header;
        font-size: 50px;
        margin-bottom: 70px;
        text-align: center;
    }
    & .skills-innner{
        display: grid;
        grid-template-columns: repeat(2,1fr);
        grid-gap: 3rem;
        & >div{
            background-color: $dark_background3;
            padding: 30px;
            border-radius: 20px;
            text-align: center;

            & .title{
                background-color: $dark_background4;
                font-family:SohneBold;
                color: $color_header;
                font-size: 25px;
                padding: 20px;
                border-radius: 10px;
                margin-bottom: 30px;
            }
            & .the-skills{
                & p{
                    margin-bottom: 20px;
                }
            }
        }
        & .langs{
            & .the-skills{
                display: grid;
                grid-template-columns: repeat(2,1fr);
            }
        }
    }
}