.skills{
    margin-top: 50px;
    & .skillshead{
        color:$standout_color;
        font-size: 21px;
        margin-bottom: 10px;
    }
    & .categories{
        width:70%;
        display: flex;
        justify-content: space-between;
        // text-align: center;
        // & ul li{
        //     list-style: none;
        // }
    }
    & p{
        color:white;
        font-weight: 600;
    }

}