nav {
  position: sticky;
  top: 0;
  width: 100%;
  z-index: 10000;
  background-color: $blue;
  color: $white;
  padding: 30px 0;
  & .navbar {
    & .name {
      font-size: 37px;
      font-family: agrandir, "Manrope", sans-serif;
      & span {
        color: $green;
        font-size: 100px;
      }
    }
    width: 80%;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: space-around;
    & img {
      width: 4%;
    }
    & ul {
      & li {
        display: inline;
        list-style: none;
        & a {
          text-decoration: none;
          color: $white;
          &:hover {
            color: $white;
          }
        }
      }
      & li:not(:last-child) {
        margin-right: 50px;
      }
    }
  }
  & ul {
    display: none;
  }
}
