.projects {
  & .title {
    text-align: center;
    @include title-line-height;
    margin-top: 60px;
    color: $black;
  }
  & .toggle {
    background-color: $light_blue;
    width: 50%;
    margin: 60px auto;
    display: flex;
    justify-content: space-around;
    padding: 30px 0;
    border-radius: 10px;
    align-items: center;
    & a {
      text-decoration: none;
      font-size: 20px;
      color: $black;
    }
  }
  & .projecct-cards {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    width: 80%;
    margin: 60px auto;
    gap: 2rem 2rem;
    & > div {
      border: 1px solid #d7dbe0;
      padding: 25px;
      border-radius: 4px;
      & .logo {
        font-size: 30px;
        color: $black;
        border: 1px solid #d7dbe0;
        display: inline-flex;
        text-align: center;
        border-radius: 50%;
        padding: 10px;
      }
      & .project-name {
        @include title-line-height;
        font-size: 25px;
        margin: 5px 0;
        color: $black;
        padding: 0;
      }
      & .description {
        color: $grey;
        margin-bottom: 15px;
      }
      & .links {
        display: flex;
        gap: 1rem;
        & a {
          text-decoration: none;
          color: $black;
          font-size: 20px;
        }
      }
    }
  }
}
