// Navbar responsiveness
@media screen and (max-width: 966px) {
  nav {
    & .navbar {
      width: 100%;
      & img {
        width: 8%;
      }
    }
  }
}
@media screen and (min-width: 831px) {
  nav {
    & .navbar {
      & ul {
        display: flex;
      }
    }
    & .bar {
      display: none;
    }
  }
}
@media screen and (max-width: 831px) {
  nav {
    & .navbar {
      width: 100%;
      & img {
        width: 8%;
      }
      & ul {
        display: none;
      }
    }
    & .mobile-nav {
      display: flex;
      flex-direction: column;
      gap: 1rem;
      align-items: center;
      justify-content: center;
      & li {
        list-style: none;
        & a {
          text-decoration: none;
          color: $white;
          &:hover {
            color: $white;
          }
        }
      }
    }
  }
}
@media screen and (max-width: 650px) {
  nav {
    & .navbar {
      & img {
        width: 10%;
      }
    }
  }
}
@media screen and (max-width: 417px) {
  nav {
    & .navbar {
      & img {
        width: 15%;
      }
    }
  }
}
