@font-face {
  font-family: SohneBold;
  src: url("../font/SohneBold.woff2");
}
@font-face {
  font-family: SohneMono;
  src: url("../font/SohneMono.woff2");
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: #8d93a0;
  font-family: SohneMono;
}

body {
  background-color: #0a0c10;
}

.hero {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 100px 0 200px 0;
}
.hero .hero-inner {
  background-color: #12141a;
  width: 80%;
  place-items: center;
  padding: 70px;
  display: grid;
  grid-template-columns: 1.5fr 1fr;
  grid-gap: 5rem;
  border-radius: 20px;
}
.hero .hero-inner .about .name {
  font-size: 50px;
  font-family: SohneBold;
  color: #c5c9d2;
}
.hero .hero-inner .about .about {
  margin: 30px 0;
}
.hero .hero-inner .about .socials img {
  width: 5%;
  margin-right: 30px;
}
.hero .hero-inner .sedem {
  width: 100%;
  height: 350px;
  width: 350px;
  border-radius: 50%;
  margin: auto;
}

.skills {
  margin: 100px auto 200px auto;
  width: 80%;
  padding: 70px;
  border-radius: 20px;
  background-color: #12141a;
}
.skills .skills-header {
  font-family: SohneBold;
  color: #c5c9d2;
  font-size: 50px;
  margin-bottom: 70px;
  text-align: center;
}
.skills .skills-innner {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 3rem;
}
.skills .skills-innner > div {
  background-color: #1a1c24;
  padding: 30px;
  border-radius: 20px;
  text-align: center;
}
.skills .skills-innner > div .title {
  background-color: #212632;
  font-family: SohneBold;
  color: #c5c9d2;
  font-size: 25px;
  padding: 20px;
  border-radius: 10px;
  margin-bottom: 30px;
}
.skills .skills-innner > div .the-skills p {
  margin-bottom: 20px;
}
.skills .skills-innner .langs .the-skills {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}

.projects {
  margin: 100px auto 200px auto;
}
.projects .projects-title {
  font-size: 50px;
  font-family: SohneBold;
  color: #c5c9d2;
  text-align: center;
}
.projects #projects {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 2rem;
  align-items: center;
  width: 80%;
  background-color: #12141a;
  margin: 70px auto;
  padding: 70px;
  border-radius: 20px;
}
.projects #projects .project-about .project-name {
  font-family: SohneBold;
  color: #c5c9d2;
  font-size: 35px;
}
.projects #projects .project-about .description {
  margin: 30px 0;
}
.projects #projects .project-about .project-links a {
  text-decoration: none;
  margin-right: 30px;
  background-color: #ffffff;
  color: #000000;
  padding: 10px 40px;
  border-radius: 5px;
}
.projects #projects img {
  width: 100%;
}
.projects .more {
  text-align: center;
}
.projects .more a {
  text-decoration: none;
  margin-right: 30px;
  background-color: #ffffff;
  color: #000000;
  padding: 10px 40px;
  border-radius: 5px;
}

.contacts {
  margin: 100px auto 200px auto;
  background-color: #12141a;
  width: 80%;
}
.contacts .touch {
  font-size: 50px;
  font-family: SohneBold;
  color: #c5c9d2;
  text-align: center;
}