@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");
@font-face {
  font-family: agrandir;
  src: url("../../public/fonts/Agrandir-Regular.ac0a1cb25485b4d0b3c2.woff");
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
  line-height: 28.8px;
}

.active-toggle {
  background-color: #5536d1;
  padding: 10px 60px;
  color: #f9f871 !important;
  border-radius: 4px;
}

@keyframes scroll-left {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(-50%);
  }
}
@keyframes scroll-right {
  from {
    transform: translateX(-50%);
  }
  to {
    transform: translateX(0);
  }
}
nav {
  position: sticky;
  top: 0;
  width: 100%;
  z-index: 10000;
  background-color: #5536d1;
  color: #fcfeff;
  padding: 30px 0;
}
nav .navbar {
  width: 80%;
  margin: auto;
  display: flex;
  align-items: center;
  justify-content: space-around;
}
nav .navbar .name {
  font-size: 37px;
  font-family: agrandir;
}
nav .navbar .name span {
  color: #f9f871;
  font-size: 100px;
}
nav .navbar img {
  width: 4%;
}
nav .navbar ul li {
  display: inline;
  list-style: none;
}
nav .navbar ul li a {
  text-decoration: none;
  color: #fcfeff;
}
nav .navbar ul li a:hover {
  color: #fcfeff;
}
nav .navbar ul li:not(:last-child) {
  margin-right: 50px;
}
nav ul {
  display: none;
}

.hero {
  background-color: #5536d1;
}
.hero > div {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 5rem;
  align-items: center;
  width: 70%;
  margin: auto;
  padding: 100px 0;
}
.hero > div > div span {
  color: #f9f871;
}
.hero > div > div .title {
  color: #f9f871;
  line-height: 60px;
  font-size: 47px;
  font-family: agrandir;
}
.hero > div > div .description {
  color: #fcfeff;
  margin: 30px 0;
}
.hero > div > div .socials {
  display: flex;
  gap: 1rem;
}
.hero > div > div .socials a {
  text-decoration: none;
  color: #f9f871;
  font-size: 30px;
}
.hero img {
  width: 100%;
  border-radius: 10px;
}

.projects .title {
  text-align: center;
  line-height: 60px;
  font-size: 47px;
  font-family: agrandir;
  margin-top: 60px;
  color: #101840;
}
.projects .toggle {
  background-color: #eeebfa;
  width: 50%;
  margin: 60px auto;
  display: flex;
  justify-content: space-around;
  padding: 30px 0;
  border-radius: 10px;
  align-items: center;
}
.projects .toggle a {
  text-decoration: none;
  font-size: 20px;
  color: #101840;
}
.projects .projecct-cards {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  width: 80%;
  margin: 60px auto;
  gap: 2rem 2rem;
}
.projects .projecct-cards > div {
  border: 1px solid #d7dbe0;
  padding: 25px;
  border-radius: 4px;
}
.projects .projecct-cards > div .logo {
  font-size: 30px;
  color: #101840;
  border: 1px solid #d7dbe0;
  display: inline-flex;
  text-align: center;
  border-radius: 50%;
  padding: 10px;
}
.projects .projecct-cards > div .project-name {
  line-height: 60px;
  font-size: 47px;
  font-family: agrandir;
  font-size: 25px;
  margin: 5px 0;
  color: #101840;
  padding: 0;
}
.projects .projecct-cards > div .description {
  color: #474d66;
  margin-bottom: 15px;
}
.projects .projecct-cards > div .links {
  display: flex;
  gap: 1rem;
}
.projects .projecct-cards > div .links a {
  text-decoration: none;
  color: #101840;
  font-size: 20px;
}

.skills {
  background-color: #eeebfa;
  padding: 60px 0;
  text-align: center;
}
.skills .skills-inner {
  width: 80%;
  margin: auto;
}
.skills .skills-inner .skills-text {
  color: #474d66;
  margin: 60px 0;
}
.skills .skills-inner .title {
  line-height: 60px;
  font-size: 47px;
  font-family: agrandir;
  color: #101840;
}
.skills .skills-inner .techs {
  font-size: 80px;
  color: #101840;
  display: flex;
  gap: 1em;
  text-align: center;
  align-items: center;
  justify-content: center;
}

.testimonial-header {
  width: 80%;
  margin: auto;
  text-align: center;
}
.testimonial-header .title {
  line-height: 60px;
  font-size: 47px;
  font-family: agrandir;
  margin: 60px auto;
  padding: 0;
}
.testimonial-header .text {
  color: #474d66;
}

.testimonials {
  width: 100%;
  overflow: hidden;
  padding: 60px 2rem;
}
.testimonials .left-infinite {
  display: flex;
  width: 200%;
  gap: 2rem;
  margin-bottom: 2rem;
  animation: scroll-left 25s ease-in-out infinite alternate;
}
.testimonials .left-infinite:hover {
  animation-play-state: paused;
}
.testimonials .left-infinite > div {
  background-color: #eeebfa;
  padding: 20px;
  border-radius: 5px;
  width: 20%;
}
.testimonials .left-infinite > div > div {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 20px;
  color: #474d66;
}
.testimonials .right-infinite {
  display: flex;
  width: 200%;
  gap: 2rem;
  animation: scroll-right 25s ease-in-out infinite alternate;
}
.testimonials .right-infinite:hover {
  animation-play-state: paused;
}
.testimonials .right-infinite > div {
  background-color: #eeebfa;
  padding: 20px;
  border-radius: 5px;
  width: 20%;
}
.testimonials .right-infinite > div > div {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 20px;
  color: #474d66;
}

footer {
  background-color: #5536d1;
  color: #fcfeff;
  padding: 60px 0;
  width: 100%;
}
footer .footer {
  width: 80%;
  display: grid;
  grid-template-columns: 2fr 1fr 1fr 1fr;
  margin: auto;
  gap: 3rem;
}
footer .footer .name {
  font-size: 37px;
  font-family: agrandir;
}
footer .footer .name span {
  color: #f9f871;
  font-size: 100px;
}
footer .footer div .footer-title {
  font-size: 20px;
  font-family: agrandir;
  color: #f9f871;
  margin: 10px 0;
}
footer .footer div a {
  text-decoration: none;
  color: #fcfeff;
  display: block;
}
footer > p {
  text-align: center;
  margin-top: 80px;
}

@media screen and (max-width: 966px) {
  nav .navbar {
    width: 100%;
  }
  nav .navbar img {
    width: 8%;
  }
}
@media screen and (min-width: 831px) {
  nav .navbar ul {
    display: flex;
  }
  nav .bar {
    display: none;
  }
}
@media screen and (max-width: 831px) {
  nav .navbar {
    width: 100%;
  }
  nav .navbar img {
    width: 8%;
  }
  nav .navbar ul {
    display: none;
  }
  nav .mobile-nav {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    align-items: center;
    justify-content: center;
  }
  nav .mobile-nav li {
    list-style: none;
  }
  nav .mobile-nav li a {
    text-decoration: none;
    color: #fcfeff;
  }
  nav .mobile-nav li a:hover {
    color: #fcfeff;
  }
}
@media screen and (max-width: 650px) {
  nav .navbar img {
    width: 10%;
  }
}
@media screen and (max-width: 417px) {
  nav .navbar img {
    width: 15%;
  }
}
@media screen and (max-width: 897px) {
  footer .footer {
    grid-template-columns: 2fr 1fr;
  }
}
@media screen and (max-width: 505px) {
  footer .footer {
    grid-template-columns: 1fr;
  }
}