@font-face {
  font-family: Oxygen;
  src: url("../font/OxygenMono-Regular.55d89e42.woff2");
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-size: 14px;
  font-family: 400;
  background-color: #1d1f21;
  font-family: Oxygen;
  color: #c9cacc;
  line-height: 1.725;
}

body {
  margin: 100px 200px;
}

.hero {
  display: flex;
  align-items: center;
}
.hero img {
  width: 20%;
}
.hero #name {
  color: #96ff81;
  font-size: 28px;
}
.hero #job {
  color: white;
  font-size: 16.8px;
  margin: 10px auto;
}
.hero #links a {
  margin-right: 10px;
}
.hero #links a:hover {
  text-decoration: none;
  color: white;
}

.about {
  margin-top: 50px;
}
.about h1 {
  color: #96ff81;
  font-size: 21px;
  margin-bottom: 10px;
}
.about #about p span {
  color: #96ff81;
}

.skills {
  margin-top: 50px;
}
.skills .skillshead {
  color: #96ff81;
  font-size: 21px;
  margin-bottom: 10px;
}
.skills .categories {
  width: 70%;
  display: flex;
  justify-content: space-between;
}
.skills p {
  color: white;
  font-weight: 600;
}

.projects {
  margin-top: 50px;
}
.projects .projecthead {
  font-size: 21px;
  color: #96ff81;
}
.projects .projecttitle {
  color: white;
  font-weight: 600;
}
.projects .project {
  display: flex;
  align-items: center;
}
.projects .project img {
  width: 50%;
}
.projects .project .projectwords .description {
  margin: 15px auto;
}
.projects .project .projectwords a:hover {
  color: white;
  text-decoration: none;
}
.projects .project .projectwords #website {
  margin-right: 20px;
}

.experience {
  margin-top: 50px;
}
.experience .header {
  font-size: 21px;
  color: #96ff81;
  margin-bottom: 10px;
}
.experience .jobtitle {
  color: white;
  font-weight: 600;
}
.experience .intern, .experience .freelance {
  margin-top: 9px;
}

.contacts {
  margin-top: 50px;
}
.contacts .contacthead {
  font-size: 21px;
  color: #96ff81;
  margin-bottom: 10px;
}
.contacts ul {
  margin-bottom: 10px;
}
.contacts .allcontacts a {
  margin-right: 20px;
}
.contacts .allcontacts a:hover {
  color: white;
  text-decoration: none;
}

.thanks {
  margin-top: 50px;
}
.thanks .thankhead {
  font-size: 21px;
  color: #96ff81;
  margin-bottom: 10px;
}
.thanks p span {
  font-weight: 600;
  color: white;
}

@media screen and (max-width: 960px) {
  .hero img {
    width: 25%;
  }
}
@media screen and (max-width: 900px) {
  .hero img {
    width: 30%;
  }
}
@media screen and (max-width: 1300px) {
  body {
    margin: 100px 150px 100px 150px;
  }
}
@media screen and (max-width: 1250px) {
  body {
    margin: 100px 100px 100px 100px;
  }
}
@media screen and (max-width: 1100px) {
  body {
    margin: 100px 70px 100px 70px;
  }
}
@media screen and (max-width: 1350px) {
  .skills .categories {
    width: 80%;
  }
}
@media screen and (max-width: 1230px) {
  .skills .categories {
    width: 90%;
  }
}
@media screen and (max-width: 1120px) {
  .skills .categories {
    width: 100%;
  }
}
@media screen and (max-width: 800px) {
  .skills .categories {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 3rem;
  }
}
@media screen and (max-width: 960px) {
  .projects .project img {
    width: 60%;
  }
}
@media screen and (max-width: 900px) {
  .projects .projecthead {
    margin-bottom: 10px;
  }
  .projects .project {
    flex-direction: column;
  }
}
@media screen and (max-width: 800px) {
  .projects .project img {
    width: 70%;
  }
}
@media screen and (max-width: 720px) {
  .projects .project img {
    width: 80%;
  }
}