
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  line-height: 28px;
  scroll-behavior: smooth;
}
body {
  // background-color: $cream;
  // color: $grey;
}
a {
  text-decoration: none;
  color: inherit;
}
.svg_size {
  width: 24px;
  height: 24px;
}
.svg_size_big {
  width: 48px;
  height: 48px;
}
.container {
  max-width: 1366px;
}