$white: #fcfeff;
$grey_text: rgba(255, 255, 255, 0.5);
$grey_text_light: rgba(255, 255, 255, 0.72);
$grey_line: #ffffff0d;
$black: #111827;
$black_bg: #0f0f0f;
$yellow: #fccf00;
$purple:#deaaff;
$red_light:#ffcbb0;
$brown: #d09e72;
// $linear_gradient2: linear-gradient(#fdfdff 4%, #cee1fd 47%, #a4cbfa);
